@font-face {
	font-family: "Proxima Nova";
	src: url("fonts/proximanova-regular.otf");
}

@font-face {
	font-family: "Proxima Nova bold";
	src: url("fonts/proximanova-bold.otf");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #2F4158;
}
.wrapper {
	width: 548px;
	margin: 0 auto;
	margin-top: 140px;
}

.wrapper > h1 {
	height: 91px;
	background-image:linear-gradient( 0deg, #CF4A2D, #DE6D4D );
	border-radius: 9px 9px 0 0;
	font-family: 'Proxima Nova bold', sans-serif;
	font-size: 48px;
	text-align: center;
	line-height: 91px;
	color: #FAEBE7;

	text-shadow:0 1px 3px rgba(0, 0, 0, 0.39);
	box-shadow:0 1px 5px rgba(0, 0, 0, 0.35), inset 0 2px 0 rgba(255, 255, 255, 0.1);
	margin-bottom: 50px
}
.main-form {
	margin: 0;
	background-color: #F3F3F3;
	height: 512px;
	box-shadow:0 1px 5px rgba(0, 0, 0, 0.35);
	border-radius: 4px;
	padding: 46px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}
.main-form > input {
	display: block;
}

.main-form > input[type=submit] {
	border-radius: 4px;
	font-family: 'Proxima Nova bold', sans-serif;
	font-size: 36px;
	text-align: center;
	background-image: linear-gradient( 0deg, #EAEAEB, #FEFEFE );
	color: #464B55;
	box-shadow:0 2px 2px rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 80px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-top: 20px;
}

.text-input {
	height: 82px;
	border: none;
	border-bottom: 2px solid #B5B6C0;
	color: #868798;
	background-color: #F3F3F3;
	font-family: 'Proxima Nova', sans-serif;
	font-size: 30px;
}

.gender {
	background-image:linear-gradient( 0deg, #97C970, #5FA930 );
	height: 82px;
	border-radius: 4px;
	padding: 7px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-bottom: 40px
}
.gender label {
	border-radius: 4px;
	height: 100%;
	width: 216px;
	font-family: 'Proxima Nova bold', sans-serif;
	font-size: 30px;
	text-align: center;
	color: white;
	text-shadow:0 -2px 0px rgba(0, 0, 0, 0.1);
}
.v-center {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

input[type="radio"]:checked + label {
	background-image: linear-gradient( 0deg, #EAEAEB, #FEFEFE );
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.48);
	color: #464B55;
}
.gender input{
	visibility: hidden;
	position: absolute;
	top: -100px;
	left: -100px;
	z-index: -100;	
}
